{% extends 'layouts/home-layout.html' %}
{% load static %}

{% block title %}
    Conseils
{% endblock %}

{% block style %}

    .ml2 .letter {
        display: inline-block;
        line-height: 1em;
    }

    .big-font {
        font-size: 20px;
        font-weight: 600;
        color: #5d5d5d;
        position: relative;
        padding-left: 18px;
        margin-bottom: 3px;
        display: inline-block;
        text-align: center;
        line-height: 33px;
    }

    .readable-text {
        letter-spacing: 0.05rem;
        font-size: 1.0625rem;
        line-height: 1.8125rem;
    }
    .entry-content {
        color: #153E5C;
    }
{% endblock %}

{% block body %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/static/assets/img/home/rep5.png" alt="First slide">
                <div class="carousel-caption d-none d-med-block">
                    <div class="col text-center">
                        <h5 class="big-title ml2"> Conseils <br> pour l'installations de vos  panneaux solaires</h5>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="container" style="margin-top : 100px;">
    	<h1 class="text-center font-weight-bold mb-5 mt-5">Conseils pour l'installation de vos panneaux solaires</h1>
    	<p class="mb-4 big-font"> Les énergies propres et renouvelables, et notamment la production d’électricité à partir 
            de panneaux solaires, ont de plus en plus le vent en poupe. En effet, c’est la garantie de préserver l’environnement
            tout en faisant des économies souvent substantielles. Pourtant, beaucoup de particuliers hésitent à franchir le pas, 
            de peur de ne pas avoir les compétences nécessaires pour l’installation et l’entretien des panneaux photovoltaïques.
            Voici quelques conseils pour vous aider dans l’installation de vos panneaux solaires.</p>
        <div style="text-align:center;vertical-align: middle; margin: 20px; margin-bottom: 50px;;">
    	    <img alt="Installation panneau solaire par une entreprise" height="428" width="635" src="https://cdn.hellowatt.fr/media/uploads/zinnia/2018/08/22/installation-panneau-solaire-entreprise.jpg">
        </div>
        <div class="entry-content readable-text">
            <h2 dir="ltr">1. Choisissez avec soin le lieu d’installation de vos panneaux solaires</h2>
            <p>Il existe deux types principaux de panneaux solaires : les photovoltaïques (PV) qui produisent de l’électricité 
                et les thermiques qui produisent de la chaleur. Les deux ont besoin du rayonnement du soleil pour fonctionner.
                Avant de vous lancer dans l’installation de panneau solaire, il convient de vérifier que toutes les conditions 
                nécessaires sont réunies pour leur bon fonctionnement.
            </p>
            <div style="text-align: center;">
                <i class="fa fa-caret-right">Une région ensoleillée pour l’installation des panneaux solaires</i>
            </div>
            <p>En toute logique, que vous habitiez à Nice ou à Lille, l’efficacité de vos panneaux solaires ne sera pas identique.
                Ne vous fiez pas à vos impressions et vérifiez auprès d’un centre de météorologie combien il y a approximativement 
                de jours ensoleillés ou pluvieux par an dans votre région. Vous saurez ainsi si cela vaut le coup d’investir dans 
                une installation de panneaux solaires.
            </p>
            <div style="text-align: center;">
                <i class="fa fa-caret-right">Une orientation plein sud pour vos panneaux solaires</i>
            </div>
            <p>Pour être efficace, un panneau solaire doit être orienté vers le sud, avec une inclinaison idéale de 30 degrés.
                De plus, aucune ombre éventuelle (arbre, poteau électrique, autre bâtiment…) ne doit risquer de le cacher, 
                même partiellement.
            </p>
            <h2 dir="ltr"> 2. Faites appel à une entreprise spécialisée dans l’installation de panneaux solaires</h2>
            <p>Devant le prix de l’installation de panneaux solaires, on peut être tenté de se lancer seul dans l’aventure si on 
                possède des compétences en électricité. Malheureusement, cela n’est pas forcément une bonne idée. Le seul avantage
                notable de poser des panneaux solaires soi-même est de faire des économies ! En effet le poste le plus important de
                l’installation de panneaux solaires est le coût de la main-d’oeuvre. Vous économisez donc environ 30% du prix total.
                A contrario, choisir de faire poser vos panneaux par un professionnel présente plusieurs avantages :
                <ul  style="text-decoration:none;">
                    <li><strong> Bénéficier du savoir-faire d’experts :</strong> un professionnel possède toutes les compétences pour savoir comment 
                        installer vos panneaux solaires. Faire appel à un expert vous évitera de faire bien des erreurs qui pourraient
                        être très préjudiciables à long terme.
                    </li>
                    <li><strong> Être assuré :</strong> un professionnel est le garant de la qualité de votre installation. Son service après-vente vous 
                        assistera en cas de problème et sa police d’assurance prendre le relais en cas de défaut sur l’installation pouvant
                        remettre en cause l’intégrité de votre logement. Il s’occupera de récupérer et de changer les produits en fin de vie,
                        en faisant jouer la garantie si elle est encore valide
                    </li>
                </ul>
            </p>
        </div>
        <p class="mb-4 big-font">En résumé, il est très fortement conseillé de faire appel à un professionnel pour l’installation de vos panneaux photovoltaïques si vous 
            voulez être assuré de la qualité et que vous souhaitez bénéficier des différentes aides financières disponibles. Prêt à faire installer 
            vos panneaux solaires ? Vous avez maintenant toutes les clés en main pour vous lancer. N’hésitez pas à nous contactez. Nos experts sont 
            également disponibles pour vous aider à établir vos projet solaire ! 
        </p>
        </div>
    <script>
        // Wrap every letter in a span
    var textWrapper = document.querySelector('.ml2');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({loop: false})
      .add({
        targets: '.ml2 .letter',
        scale: [4,1],
        opacity: [0,1],
        //translateZ: 0,
        easing: "easeOutExpo",
        duration: 950,
        delay: (el, i) => 70*i
      })
    </script>
{% endblock %}
